<div class="container authors">

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/vonnegut.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Курт <br/>Воннегут</span>

                <div class="paragraph">
                    <p> Американський сатирик </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/bekket.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Семюел <br/> Беккет </span>

                <div class="paragraph">
                    <p> Ірландський письменник </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/golding.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Вільям <br/> Ґолдінґ</span>

                <div class="paragraph">
                    <p> Англійський письменник </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/vonnegut.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Курт <br/>Воннегут</span>

                <div class="paragraph">
                    <p> Американський сатирик </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/bekket.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Семюел <br/> Беккет </span>

                <div class="paragraph">
                    <p> Ірландський письменник </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/golding.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Вільям <br/> Ґолдінґ</span>

                <div class="paragraph">
                    <p> Англійський письменник </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/vonnegut.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Курт <br/>Воннегут</span>

                <div class="paragraph">
                    <p> Американський сатирик </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/bekket.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Семюел <br/> Беккет </span>

                <div class="paragraph">
                    <p> Ірландський письменник </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4 author-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/imgs/golding.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Вільям <br/> Ґолдінґ</span>

                <div class="paragraph">
                    <p> Англійський письменник </p>
                </div>
            </div>
        </div>
    </div>


</div>