<div class="container">
    <div class="fab main-fab">
        <button class="fab__primary btn btn--xl bgc-deep-orange-A400 white-bl btn--fab" lx-ripple="yellow-50" lx-tooltip="+  В КОРЗИНУ" tooltip-position="left">
            <i class="mdi mdi--add"></i>
            <i class="mdi mdi--add-shopping-cart"></i>
        </button>

        <div class="fab__actions fab__actions--up">
            <button class="btn btn--l bg-black-bl white-bl btn--fab" lx-ripple lx-tooltip="про ілюстратора" tooltip-position="left"><i class="mdi mdi--image"></i></button>
            <button class="btn btn--l bg-black-bl white-bl btn--fab" lx-ripple lx-tooltip="про автора" tooltip-position="left"><i class="mdi mdi--person"></i></button>
            <button class="btn btn--l bg-black-bl white-bl btn--fab" lx-ripple lx-tooltip="про книгу" tooltip-position="left"><i class="mdi mdi--bookmark"></i></button>
        </div>
    </div>
    <div class="up-button" ng-click="moveUp()">
        <i class="fa fa-angle-up fa-3x"></i>
    </div>
    <div class="down-button" ng-click="moveDown()">
        <i class="fa fa-angle-down fa-3x"></i>
    </div>
    <div fullpage-js id="mainpage">
        <!--<paper-fab mini icon="expand-more" class="down-button yellow xs-fab"></paper-fab>-->

        <div class="section">
            <div class="col-xs-12 height100">
                <div class="cover" id="cover1">
                    <div class="col-xs-4 col-md-5 cover-details hidden-mobile">
                        <p>Курт Воннегут 1</p>
                        <p class="small">Бойня номер п'ять</p>
                    </div>
                    <div class="col-xs-8 col-md-7 cover-controls">
                        <p class="hidden-tablet">Коротке прев'ю для книги, такий собі анонс, де можна описати маленькі деталі, тощо.</p>
                        <!--Детальніше..-->

                    </div>
                </div>
            </div>

        </div>
        <div class="section">
            <div class="col-xs-12 height100">
                <div class="cover" id="cover1">
                    <div class="col-xs-4 col-md-5 cover-details hidden-mobile">
                        <p>Курт Воннегут 2</p>
                        <p class="small">Бойня номер п'ять</p>
                    </div>
                    <div class="col-xs-8 col-md-7 cover-controls">
                        <p class="hidden-tablet">Коротке прев'ю для книги, такий собі анонс, де можна описати маленькі деталі, тощо.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="col-xs-12 height100">
                <div class="cover" id="cover1">
                    <div class="col-xs-4 col-md-5 cover-details hidden-mobile">
                        <p>Курт Воннегут 3</p>
                        <p class="small">Бойня номер п'ять</p>
                    </div>
                    <div class="col-xs-8 col-md-7 cover-controls">
                        <p class="hidden-tablet">Коротке прев'ю для книги, такий собі анонс, де можна описати маленькі деталі, тощо.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>