<div class="container shop">

    <div class="col-sm-3 col-lg-2 cart-widget">
        <div class="card">
            <div class="card__top">
                <strong class="card-title">В корзині</strong>
                <span class="card-subtitle">Товар, що Ви обрали</span>
            </div>

            <div class="card__content">
                <div class="paragraph">
                    <span style="width: 58%">
                        <b>1</b> x Еко сумка
                    </span>
                    <span class="tc-deep-orange-A700" style="width: 39%; text-align: right">
                        &#8372;50
                    </span>
                    <span style="width: 58%">
                        <b>1</b> x Еко сумка
                    </span>
                    <span class="tc-deep-orange-A700" style="width: 39%; text-align: right">
                        &#8372;50
                    </span>
                    <span style="width: 58%">
                        <b>1</b> x Еко сумка
                    </span>
                    <span class="tc-deep-orange-A700" style="width: 39%; text-align: right">
                        &#8372;50
                    </span>
                    <hr/>
                    <span style="width: 58%; text-transform: uppercase">
                        Загальна сума
                    </span>
                    <span class="tc-deep-orange-A700" style="width: 39%; text-align: right">
                        &#8372;150
                    </span>
                </div>
            </div>

            <div class="card__actions">
                <button class="btn btn--s btn--black btn--flat" lx-ripple>До корзини</button>
                <button class="btn btn--s btn--orange btn--flat" lx-ripple>Оформити</button>
            </div>
        </div>
        <div class="card" style="margin-top: 30px">
            <div class="card__top" style="padding-bottom: 16px">
                <strong class="card-title">Категорії</strong>
            </div>
            <ul class="list">
                <li class="list-row btn btn--raised" lx-ripple="grey-600">
                    <div class="list-content-tile list-content-tile--one-line">
                        <strong>Книги</strong>
                    </div>
                </li>

                <li class="list-row btn btn--raised" lx-ripple="grey-600">
                    <div class="list-content-tile list-content-tile--one-line">
                        <strong>Ілюстрації</strong>
                    </div>
                </li>

                <li class="list-row btn btn--raised" lx-ripple="grey-600">
                    <div class="list-content-tile list-content-tile--one-line">
                        <strong>Сувеніри</strong>
                    </div>
                </li>

                <li class="list-row btn btn--raised" lx-ripple="grey-600">
                    <div class="list-content-tile list-content-tile--one-line">
                        <strong class="tc-deep-orange-A700">Всі товари</strong>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-sm-9 col-lg-10">
        <div class="col-xs-6 col-sm-6 col-md-4 shop-card-wrap">
            <div class="card ">
                <div class="card__top card__top--img">
                    <img src="/imgs/shop/eco-bag.jpg">
                </div>
                <div class="card__content card__content--small hidden-content">

                    <span class="card-subtitle" style="color: #fff">Еко сумка</span>
                    <!--<span class="value white-bl"><span style="font-size: 24px;">&#8372;</span>50</span>-->

                    <div class="card__actions">
                        <button class="btn btn--m bg-white-bl black-bl btn--raised" lx-ripple="grey-600">Додати в кошик</button>
                        <button class="btn btn--m white-bl btn--flat" lx-ripple="grey-600" ng-click="clickedCancel()">Скасувати</button>
                    </div>


                </div>
                <div class="card__content card__content--small">
                    <button ng-click="clickedFab()" class="fab__primary mdi mdi--add btn btn--l bgc-deep-orange-A400 white-bl btn--fab add-to-cart-fab" lx-ripple="yellow-50" lx-tooltip="В кошик" tooltip-position="left"><i class="mdi mdi--add"></i></button>
                    <!--<button ng-click="clickedFab()" class="fab__primary mdi mdi--add btn btn--l bg-yellow-bl white-bl btn--fab add-to-cart-fab" lx-ripple="yellow-50" lx-tooltip="В кошик" tooltip-position="left"><i class="mdi mdi--add"></i></button>-->
                    <span class="card-subtitle">Еко сумка</span>

                    <div class="paragraph">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        </p>
                    </div>

                </div>
                <div class="card__actions">
                    <button class="btn btn--m btn--grey btn--flat" lx-ripple>детальніше</button>
                    <!--<span class="value tc-blue-900">$50</span>-->
                    <!--<span class="value tc-brown-600">$50</span>-->
                    <span class="value tc-deep-orange-A700"><span style="font-size: 24px;">&#8372;</span>50</span>
                </div>
            </div>
        </div>

    </div>
</div>
