* {
  outline: 0 !important; }

html {
  background-color: #fff; }

body {
  font-family: 'Azbuka04';
  padding-top: 65px; }

.bl-nav {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: none; }
  .bl-nav .navbar-header {
    display: inline-block; }
    .bl-nav .navbar-header .navbar-toggle {
      float: left;
      margin-right: 0;
      margin-left: 15px; }
  .bl-nav .nav li a {
    color: #7d8184;
    font-size: 16px;
    background-color: #fff;
    text-transform: lowercase; }
    .bl-nav .nav li a:hover {
      background-color: #fff; }
  .bl-nav .nav li.active a {
    color: #160f12; }
  .bl-nav .nav-logo {
    display: inline-block;
    float: right;
    height: 64px;
    width: 180px;
    position: relative;
    right: 25px;
    background-image: url("../../imgs/logo-bl.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 8px; }
    .bl-nav .nav-logo .socials {
      height: 55px;
      width: 20px;
      text-align: center;
      float: right;
      line-height: 16px;
      position: relative;
      top: 9px;
      right: -28px;
      color: #9da1a4; }
      .bl-nav .nav-logo .socials i {
        cursor: pointer; }
      .bl-nav .nav-logo .socials .fa-facebook-square:hover {
        color: #3b5998; }
      .bl-nav .nav-logo .socials .fa-youtube-play:hover {
        color: #de0020; }
      .bl-nav .nav-logo .socials .fa-instagram:hover {
        color: #dc8a4f; }

@media (min-width: 768px) {
  .bl-nav .navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px; }

  .nav-logo {
    background-image: url("../../imgs/logo-bl-small.png") !important;
    width: 50px !important; }
 }

@media (min-width: 992px) {
  .nav-logo {
    background-image: url("../../imgs/logo-bl.png") !important;
    width: 180px !important; }
 }

.white-bl {
  color: #fff; }

.black-bl {
  color: #160f12; }

.red-bl {
  color: #de0c25; }

.orange-bl {
  color: #d65627; }

.yellow-bl {
  color: #ffcf00; }

.gray-bl {
  color: #7d8184; }

.blue-bl {
  color: #3e6df6; }

.green-bl {
  color: #95ff4f; }

.bg-white-bl {
  background-color: #fff; }

.bg-black-bl {
  background-color: #160f12; }

.bg-red-bl {
  background-color: #de0c25; }

.bg-orange-bl {
  background-color: #d65627; }

.bg-yellow-bl {
  background-color: #ffcf00; }

.bg-gray-bl {
  background-color: #7d8184; }

.bg-blue-bl {
  background-color: #3e6df6; }

.bg-green-bl {
  background-color: #95ff4f; }

@media (max-width: 680px) {
  .hidden-tablet {
    display: none; }
 }

@media (max-width: 500px) {
  .hidden-mobile {
    display: none; }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6 {
    width: 100%; }
 }

a img {
  width: 100%;
  border-radius: 2px; }

.small-padding {
  padding: 3px; }

.padding-20 {
  padding: 20px; }

.tabs-link {
  font-weight: 100;
  color: #160f12 !important; }

.flexslider {
  margin: 0;
  border: 0; }
  .flexslider .flex-control-thumbs {
    margin: 0;
    padding: 4px; }

.flex-control-thumbs img {
  opacity: 0.4; }

.fancybox-close {
  position: fixed;
  top: 30px;
  right: 80px;
  background-image: url(../../imgs/closeButton.png);
  background-size: contain;
  width: 20px;
  height: 20px; }

.main-fab {
  position: absolute;
  z-index: 100;
  right: 5%;
  bottom: 30px; }

@media (min-width: 500px) {
  .main-fab {
    right: 8%; }
 }

@media (min-width: 1400px) {
  .main-fab {
    bottom: 130px;
    right: 20%; }
 }

.up-button {
  position: fixed;
  left: 48%;
  top: 75px;
  z-index: 1;
  color: #7d8184;
  display: none; }

.down-button {
  position: fixed;
  left: 48%;
  z-index: 1;
  bottom: 20px;
  color: #7d8184; }

#mainpage .cover {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 30%; }
  #mainpage .cover .cover-details {
    position: relative;
    top: 35%;
    padding-right: 30px;
    padding-left: 0; }
    #mainpage .cover .cover-details p {
      font-size: 25px;
      color: #7d8184;
      text-align: right;
      margin: 0; }
      #mainpage .cover .cover-details p.small {
        font-size: 22px;
        color: #9da1a4; }
  #mainpage .cover .cover-controls {
    position: relative;
    top: 35%;
    padding-right: 0;
    padding-left: 280px; }
    #mainpage .cover .cover-controls p {
      font-size: 16px;
      color: #7d8184;
      margin: 0; }
  #mainpage .cover#cover1 {
    background-image: url("../../imgs/cover1.jpg"); }

@media (min-width: 500px) {
  #mainpage .cover {
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 30%; }
 }

@media (max-width: 680px) {
  #mainpage .cover .cover-controls {
    top: 35%;
    padding-left: 0px;
    padding-right: 0px;
    width: 40px;
    position: absolute;
    right: 0; }
 }

@media (max-width: 767px) {
  .menu-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 101; }

  .navbar-swipe-left {
    height: 100vh !important;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    width: 65%;
    max-height: 100vh !important;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    left: -65%; }

  .openMenu {
    left: 15px;
    -webkit-transition: left 0.3s cubic-bezier(0, 0.9, 1, 1);
    -moz-transition: left 0.3s cubic-bezier(0, 0.9, 1, 1);
    -o-transition: left 0.3s cubic-bezier(0, 0.9, 1, 1);
    transition: left 0.3s cubic-bezier(0, 0.9, 1, 1); }

  .closeMenu {
    left: -65%;
    -webkit-transition: left 0.5s cubic-bezier(0, 0.9, 1, 1);
    -moz-transition: left 0.5s cubic-bezier(0, 0.9, 1, 1);
    -o-transition: left 0.5s cubic-bezier(0, 0.9, 1, 1);
    transition: left 0.5s cubic-bezier(0, 0.9, 1, 1); }
 }

@media (min-width: 992px) {
  #mainpage .up-button, #mainpage .down-button {
    left: 49%; }
  #mainpage .cover {
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 50% 30%; }
    #mainpage .cover .cover-details {
      padding-right: 80px; }
      #mainpage .cover .cover-details p {
        font-size: 28px; }
        #mainpage .cover .cover-details p.small {
          font-size: 24px; }
    #mainpage .cover .cover-controls {
      top: 35%;
      padding-left: 260px;
      padding-right: 70px; }
 }

@media (min-width: 1400px) {
  #mainpage .cover {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 30%; }
    #mainpage .cover .cover-details {
      padding-right: 130px; }
      #mainpage .cover .cover-details p {
        font-size: 32px; }
        #mainpage .cover .cover-details p.small {
          font-size: 27px; }
    #mainpage .cover .cover-controls {
      top: 35%;
      padding-left: 340px;
      padding-right: 20px; }
 }

/*================================
*   BOOKS page styles
*===============================*/
.books {
  padding: 30px 0 20px;
  height: auto; }
  .books .book-card-wrap {
    margin-bottom: 20px; }

/*================================
*   AUTHORS page styles
*================================*/
.authors {
  padding: 30px 0 20px;
  height: auto; }
  .authors .author-card-wrap {
    margin-bottom: 30px; }
    .authors .author-card-wrap .card .btn--fab {
      position: absolute !important;
      overflow: hidden;
      bottom: 101px;
      right: 35px; }
    .authors .author-card-wrap .card .card-subtitle {
      font-size: 1.5em;
      color: #160f12; }
    .authors .author-card-wrap .card .paragraph {
      margin-top: 10px; }

/*================================
*   TRANSLATORS page styles
*================================*/
.translators {
  padding: 30px 0 20px;
  height: auto; }
  .translators .translator-card-wrap {
    margin-bottom: 30px; }
    .translators .translator-card-wrap .card .btn--fab {
      position: absolute !important;
      overflow: hidden;
      bottom: 101px;
      right: 35px; }
    .translators .translator-card-wrap .card .card-subtitle {
      font-size: 1.5em;
      color: #160f12; }
    .translators .translator-card-wrap .card .paragraph {
      margin-top: 10px; }

/*================================
*   DRAWERS page styles
*================================*/
.drawers {
  padding: 30px 0 20px;
  height: auto; }
  .drawers .drawer-card-wrap {
    margin-bottom: 30px; }
    .drawers .drawer-card-wrap .card .btn--fab {
      position: absolute !important;
      overflow: hidden;
      bottom: 101px;
      right: 35px; }
    .drawers .drawer-card-wrap .card .card-subtitle {
      font-size: 1.5em;
      color: #160f12; }
    .drawers .drawer-card-wrap .card .paragraph {
      margin-top: 10px; }

/*================================
*   SHOP page styles
*================================*/
.shop {
  padding: 30px 0 20px;
  height: auto; }
  .shop .shop-card-wrap {
    margin-bottom: 30px; }
    .shop .shop-card-wrap .card .card__content {
      height: 118px;
      overflow: hidden; }
    .shop .shop-card-wrap .card .value {
      float: right;
      padding: 0 10px;
      font-size: 1.9em;
      line-height: 38px;
      text-transform: uppercase; }
    .shop .shop-card-wrap .card .btn--fab {
      position: absolute !important;
      overflow: hidden;
      margin-top: -35px;
      right: 35px; }
    .shop .shop-card-wrap .card .card-subtitle {
      font-size: 1.5em;
      color: #160f12; }
    .shop .shop-card-wrap .card .paragraph {
      margin-top: 10px; }

.cart-widget {
  padding: 0 30px 30px; }
  .cart-widget .paragraph span {
    display: inline-block;
    padding-bottom: 5px; }
  .cart-widget .paragraph hr {
    margin: 5px 0; }
  .cart-widget .list-row {
    width: 100%;
    text-align: left; }
    .cart-widget .list-row.btn--raised {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

@media (min-width: 768px) {
  .cart-widget {
    padding: 0 0 0 15px; }
 }

.photos {
  margin-bottom: 20px; }

.price {
  font-size: 22px;
  padding-bottom: 15px;
  display: inline-block; }

/*================================
*   CART page styles
*================================*/
.cart {
  padding: 30px 0 20px;
  height: auto; }

.section {
  height: 100%; }

.height100 {
  height: 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border: 1px solid #6F6F6F; }

.shadow-d-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-d-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-d-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-d-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-d-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
