<div class="container books">

    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3 book-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/book.jpg">
            </div>

            <div class="card__content card__content--small">
                <strong class="card-title">Бойня номер п'ять</strong><br/>
                <span class="card-subtitle">Курт Воннегут</span>

                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>
            </div>
            <div class="card__actions">
                <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
            </div>
        </div>
    </div>

</div>