<div class="container contacts">

    <div class="col-xs-6 text-right">
        <span class="fs-display-1 display-block">Про нас</span> <br/><br/>
        <p class="paragraph">
            «Вавилонська бібліотека» – це громадський перекладацький проект, що вирішує проблеми культурної комунікації та локалізації шедеврів світової літератури.
            Ми реалізовуємо книжкові видання в українському перекладі. <br/>Для цього:
            <br/>
            <br/>
            1)	«реставруємо» роботи класиків українського перекладацтва;
            <br/>
            <br/>
            2)	повторно перекладаємо твори, «понищені» радянською цензурою;
            <br/>
            <br/>
            3)	перекладаємо вперше шедеври світової літератури, котрі залишились без уваги українських видавців.
            <br/>
            <br/>
            Для нас важлива не лише сама книжка, а скоріше проблема, яку вирішує її видання – «повернення до життя» старих перекладів, чи переклад «без цензури» творів, корті заборонялись з політичних міркувань – ось наше зацікавлення.

        </p>
    </div>

    <div class="col-xs-6 text-left">
        <span class="fs-display-1 display-block">Зв'язок</span> <br/><br/>
        <p class="paragraph">
            <i class="fa fa-envelope-o"> </i> &nbsp;&nbsp;kinggeorgefoundation@gmail.com
            <br/>
            <br/>
            <i class="fa fa-phone"> </i> &nbsp;&nbsp;+ 380 999 99 99
            <br/>
            <br/>
            <a href="https://www.facebook.com/pages/Вавилонська Бібліотека/1405773703037282" class="fa fa-facebook-square"> &nbsp;&nbsp; facebook</a>
            <br/>
            <br/>
            <a href="#" class="fa fa-vk"> &nbsp;&nbsp; vkontakte</a>
            <br/>
            <br/>
            <a href="#" class="fa fa-twitter"> &nbsp;&nbsp; twitter </a>


        </p>
    </div>


</div>