<div class="container drawers">
    <div class="col-xs-6 col-sm-4 col-lg-3 drawer-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/samborskyi.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <button class="btn btn--m bg-yellow-bl white-bl btn--fab" lx-ripple="yellow-50" lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></button>
                <span class="card-subtitle">Євген <br/>Самборський</span>

                <div class="paragraph">
                    <p> Художник </p>
                </div>
            </div>
        </div>
    </div>
</div>