<div class="container drawers">
    <div class="col-xs-6 col-sm-4 col-lg-4 drawer-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/marusyn.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/drawer/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Ольга <br/>Марусин</span>

                <div class="paragraph">
                    <p> Художник </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 drawer-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/marusyn.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/drawer/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Ольга <br/>Марусин</span>

                <div class="paragraph">
                    <p> Художник </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 drawer-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/marusyn.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/drawer/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Ольга <br/>Марусин</span>

                <div class="paragraph">
                    <p> Художник </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 drawer-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/marusyn.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/drawer/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Ольга <br/>Марусин</span>

                <div class="paragraph">
                    <p> Художник </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 drawer-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/marusyn.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/drawer/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Ольга <br/>Марусин</span>

                <div class="paragraph">
                    <p> Художник </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 drawer-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/marusyn.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/drawer/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Ольга <br/>Марусин</span>

                <div class="paragraph">
                    <p> Художник </p>
                </div>
            </div>
        </div>
    </div>

</div>