<div class="container news">

    <div class="col-xs-12">
        <div class="card news-card">
            <div class="card__content card__content--small">
                <span class="card-title">Сьогодні сталося то то</span>
                <span class="card-subtitle"  style="padding-bottom: 10px">Сьогодні сталося то то</span>
                <div class="paragraph">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                    </p>
                </div>

            </div>
            <div class="card__actions">
                <div class="btn btn--m btn--orange btn--flat" lx-ripple>Більше</div>
            </div>

            <div class="bottom-img">
                <img src="/webapp/imgs/shop/1/eco-bag.jpg">
            </div>
        </div>
    </div>


</div>