<div class="container translators">
    <!-- BOOK CARD  -->
    <div class="col-sm-4 col-lg-3 translator-card-wrap cart-widget" style="margin-bottom: 0">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/dibrovy.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <span class="card-subtitle">Володимир та Лідія <br/> Діброви</span>

                <div class="paragraph">
                    <p> Перекладачі </p>
                </div>
            </div>
        </div>
    </div>
    <!-- BOOK CARD END -->

    <!-- BOOK CONTAINER -->
    <div class="col-sm-8 col-lg-9">
        <div class="col-xs-12 col-sm-8 col-lg-9 info" style="margin-bottom: 20px">
            <div class="card">
                <div class="card__top">
                    <strong class="card-title">Про перекладача</strong>
                    <span class="fs-subhead tc-black-2 display-block">Володимир та Лідія Діброви</span>

                </div>
                <div class="card__content">

                    <div class="paragraph fs-body-1">
                        <p class="fs-subhead display-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        <br/><br/>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-lg-3 photos">
            <div class="card" style="margin-bottom: 20px">
                <div class="card__top" style="padding-bottom: 16px">
                    <strong class="card-title">Перекладено</strong>
                </div>
            </div>

            <div class="card" style="margin-bottom: 20px">
                <div class="card__top card__top--img">
                    <img src="/webapp/imgs/book.jpg">
                </div>

                <div class="card__content card__content--small">
                    <strong class="card-title">Бойня номер п'ять</strong> <br/>
                    <span class="card-subtitle">Курт Воннегут</span>

                    <div class="paragraph">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        </p>
                    </div>
                </div>
                <div class="card__actions">
                    <button class="btn btn--m btn--black btn--flat" lx-ripple>+ в кошик</button>
                    <a href="#/book/1" class="btn btn--m btn--orange btn--flat" lx-ripple>детальніше</a>
                </div>
            </div>

        </div>
    </div>
    <!-- BOOK CONTAINER END -->
</div>
