<div class="container translators">

    <div class="col-xs-6 col-sm-4 col-lg-4 translator-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/dibrovy.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/translator/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Володимир та Лідія <br/> Діброви</span>

                <div class="paragraph">
                    <p> Перекладачі </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 translator-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/dibrovy.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/translator/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Володимир та Лідія <br/> Діброви</span>

                <div class="paragraph">
                    <p> Перекладачі </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 translator-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/dibrovy.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/translator/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Володимир та Лідія <br/> Діброви</span>

                <div class="paragraph">
                    <p> Перекладачі </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 translator-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/dibrovy.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/translator/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Володимир та Лідія <br/> Діброви</span>

                <div class="paragraph">
                    <p> Перекладачі </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 translator-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/dibrovy.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/translator/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Володимир та Лідія <br/> Діброви</span>

                <div class="paragraph">
                    <p> Перекладачі </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-4 translator-card-wrap">
        <div class="card">
            <div class="card__top card__top--img">
                <img src="/webapp/imgs/dibrovy.jpg">
            </div>

            <div class="card__content card__content--small text-center">
                <a href="#/translator/1" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Детальніше" tooltip-position="left"><i class="mdi mdi--visibility"></i></a>
                <span class="card-subtitle">Володимир та Лідія <br/> Діброви</span>

                <div class="paragraph">
                    <p> Перекладачі </p>
                </div>
            </div>
        </div>
    </div>

</div>