// variables:
$mainColorOrange : #d65627;
$mainColorYellow : #ffcf00;
$mainColorBlack : #160f12;
$mainColorGray : #7d8184;
$mainColorLightGray : #9da1a4;
$mainBgColor : #fff;
$colorRed: #de0c25;
$colorBlue: #3e6df6;
$colorGreen: #95ff4f;
$deepOrange: #ff3d00;

* {
  outline: 0 !important;
}

html {
  background-color: $mainBgColor;
}

body {
  font-family: 'Azbuka04';
  padding-top: 65px;
}

.bl-nav {
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  background-color: $mainBgColor;
  border: none;

  .navbar-header {
    display: inline-block;
    .navbar-toggle {
      float: left;
      margin-right: 0;
      margin-left: 15px;
    }
  }

  .nav {
    li {
      a {
        color: $mainColorGray;
        font-size: 16px;
        background-color: #fff;
        text-transform: lowercase;
        padding: 10px;

        &:hover {
          background-color: #fff;
        }
      }

      &.active {
        a {
          color: $mainColorBlack;
        }
      }

    }
  }

  .nav-logo {
    display: inline-block;
    float: right;
    height: 64px;
    width: 180px;
    position: relative;
    right: 25px;

    background-image: url("../../imgs/logo-bl.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 8px;

    .socials {
      height: 55px;
      width: 20px;
      text-align: center;
      float: right;
      line-height: 16px;
      position: relative;
      top: 9px;
      right: -28px;
      color: $mainColorLightGray;

      i {
        cursor: pointer;
      }

      .fa-facebook-square {
        &:hover {
          color: #3b5998
        }
      }

      .fa-youtube-play {
        &:hover {
          color: #de0020
        }
      }

      .fa-instagram {
        &:hover {
          color: #dc8a4f
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .bl-nav {
    .navbar-nav>li>a {
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }

  .nav-logo {
    background-image: url("../../imgs/logo-bl-small.png") !important;
    width: 50px !important;
  }
}

@media (min-width: 992px) {
  .nav-logo {
    background-image: url("../../imgs/logo-bl.png") !important;
    width: 180px !important;
  }
}

// general styles:

.white-bl {
  color: #fff;
}
.black-bl {
  color: $mainColorBlack
}
.red-bl {
  color: $colorRed;
}
.orange-bl {
  color: $mainColorOrange;
}
.yellow-bl {
  color: $mainColorYellow;
}
.gray-bl {
  color: $mainColorGray;
}
.blue-bl {
  color: $colorBlue;
}
.green-bl {
  color: $colorGreen;
}


.bg-white-bl {
  background-color: #fff;
}
.bg-black-bl {
  background-color: $mainColorBlack
}
.bg-red-bl {
  background-color: $colorRed;
}
.bg-orange-bl {
  background-color: $mainColorOrange;
}
.bg-yellow-bl {
  background-color: $mainColorYellow;
}
.bg-gray-bl {
  background-color: $mainColorGray;
}
.bg-blue-bl {
  background-color: $colorBlue;
}
.bg-green-bl {
  background-color: $colorGreen;
}

@media (max-width: 680px) {
  .hidden-tablet {
    display: none;
  }
}

@media (max-width: 500px) {
  .hidden-mobile {
    display: none;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6 {
    width: 100%;
  }
}

a {
  img {
    width: 100%;
    border-radius: 2px;
  }
}

.card__top--img {
  img {
    width: 100%;
  }
}

.small-padding {
  padding: 3px;
}

.padding-20 {
  padding: 20px;
}

.no-padding {
  padding: 0;
}

.tabs-link {
  font-weight: 100;
  color: $mainColorBlack !important;
}

// flexslider styles

.flexslider {
  margin: 0;
  border: 0;
  .flex-control-thumbs {
    margin: 0;
    padding: 4px;
  }
}

.flex-control-thumbs img {
  opacity: 0.4;
}

// fancybox styles

.fancybox-overlay {
//  background: #000;
}

.fancybox-close {
  position: fixed;
  top: 30px;
  right: 80px;
  background-image: url(../../imgs/closeButton.png);
  background-size: contain;
  width: 20px;
  height: 20px;
}
// main page styles:
.main-fab {
  position: absolute;
  z-index: 100;
  right: 5%;
  bottom: 30px;
}

@media (min-width: 500px) {
  .main-fab {
    right: 8%;
  }
}

@media (min-width: 1400px) {
  .main-fab {
    bottom: 130px;
    right: 20%
  }
}

.up-button {
  position: fixed;
  left: 48%;
  top: 75px;
  z-index: 1;
  color: $mainColorGray;
  display: none;
}

.down-button {
  position: fixed;
  left: 48%;
  z-index: 1;
  bottom: 20px;
  color: $mainColorGray;
}

#mainpage {

  //  .mobile-cover-control {
  //    position: absolute;
  //    right: 0;
  //    bottom: 80px;
  //    width: 57px;
  //  }

  .cover {
    //  background-color: #999;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 30%;

    .cover-details {
      position: relative;
      top: 35%;
      padding-right: 30px;
      padding-left: 0;
      p {
        font-size: 25px;
        color: $mainColorGray;
        text-align: right;
        margin: 0;

        &.small {
          font-size: 22px;
          color: $mainColorLightGray;
        }
      }
    }

    .cover-controls {
      position: relative;
      top: 35%;
      padding-right: 0;
      padding-left: 280px;

      p {
        font-size: 16px;
        color: $mainColorGray;
        margin: 0;

      }
    }
    &#cover1 {
      background-image: url("../../imgs/cover1.jpg");
    }
  }
}


@media (min-width: 500px) {
  #mainpage {
    .cover {
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: 50% 30%;
    }
  }
}

@media (max-width: 680px) {
  #mainpage {
    .cover {
      .cover-controls {
        top: 35%;
        padding-left: 0px;
        padding-right: 0px;
        width: 40px;
        position: absolute;
        right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .menu-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 101;
  }

  .navbar-swipe-left {
    height: 100vh !important;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    width: 65%;
    max-height: 100vh !important;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    left: -65%;
    //    margin-top: 13px;
  }

  .openMenu {
    left: 15px;
    -webkit-transition: left .3s cubic-bezier(0, .90, 1, 1);
    -moz-transition: left .3s cubic-bezier(0, .90, 1, 1);
    -o-transition: left .3s cubic-bezier(0, .90, 1, 1);
    transition: left .3s cubic-bezier(0, .90, 1, 1);
  }

  .closeMenu {
    left: -65%;
    -webkit-transition: left .5s cubic-bezier(0, .90, 1, 1);
    -moz-transition: left .5s cubic-bezier(0, .90, 1, 1);
    -o-transition: left .5s cubic-bezier(0, .90, 1, 1);
    transition: left .5s cubic-bezier(0, .90, 1, 1);
  }
}

@media (min-width: 992px) {
  #mainpage {
    .up-button,.down-button {
      left: 49%;
    }
    .cover {
      background-repeat: no-repeat;
      background-size: 35%;
      background-position: 50% 30%;

      .cover-details {
        padding-right: 80px;
        p {
          font-size: 28px;
          &.small {
            font-size: 24px;
          }
        }
      }

      .cover-controls {
        top: 35%;
        padding-left: 260px;
        padding-right: 70px;
      }
    }
  }
}
@media (min-width: 1400px) {
  #mainpage {
    .cover {
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: 50% 30%;

      .cover-details {
        padding-right: 130px;
        p {
          font-size: 32px;
          &.small {
            font-size: 27px;
          }
        }
      }

      .cover-controls {
        top: 35%;
        padding-left: 340px;
        padding-right: 20px;
      }
    }
  }
}

/*================================
*   BOOKS page styles
*===============================*/

.books {

  padding: 30px 0 20px; height: auto;

  .book-card-wrap {
    margin-bottom: 20px;
  }

}

/*================================
*   AUTHORS page styles
*================================*/

.authors {

  padding: 30px 0 20px; height: auto;

  .author-card-wrap {
    margin-bottom: 30px;

    .card {

      .btn--fab {
        position: absolute !important;
        overflow: hidden;
        bottom: 90px;
        right: 35px;
      }
      .card-subtitle {
        font-size: 1.5em;
        color: $mainColorBlack;
      }

      .paragraph {
        margin-top: 10px;
      }
    }
  }

}

/*================================
*   TRANSLATORS page styles
*================================*/

.translators {

  padding: 30px 0 20px; height: auto;

  .translator-card-wrap {
    margin-bottom: 30px;

    .card {

      .btn--fab {
        position: absolute !important;
        overflow: hidden;
        bottom: 90px;
        right: 35px;
      }
      .card-subtitle {
        font-size: 1.5em;
        color: $mainColorBlack;
      }

      .paragraph {
        margin-top: 10px;
      }
    }
  }

}

/*================================
*   DRAWERS page styles
*================================*/

.drawers {

  padding: 30px 0 20px; height: auto;

  .drawer-card-wrap {
    margin-bottom: 30px;

    .card {

      .btn--fab {
        position: absolute !important;
        overflow: hidden;
        bottom: 90px;
        right: 35px;
      }
      .card-subtitle {
        font-size: 1.5em;
        color: $mainColorBlack;
      }

      .paragraph {
        margin-top: 10px;
      }
    }
  }

}

/*================================
*   NEWS page styles
*================================*/

.news {
  max-width: 600px;
  padding: 30px 0 20px;
  height: auto;

  .news-card {
    .bottom-img {
      max-height: 400px;
      overflow: hidden;
      margin: 8px;

      img {
        width: 100%;
      }
    }
  }

}

/*================================
*   CONTACTS page styles
*================================*/

/*================================
*   SHOP page styles
*================================*/

.shop {

  padding: 30px 0 20px; height: auto;

  .shop-card-wrap {
    margin-bottom: 30px;

    .card {

      .card__content {
        height: 118px;
        overflow: hidden;
      }

      .value {
        float: right;
        padding: 0 10px;
        font-size: 1.9em;
        line-height: 38px;
        text-transform: uppercase;
      }

      .btn--fab {
        position: absolute !important;
        overflow: hidden;
        margin-top: -35px;
        right: 35px;
      }
      .card-subtitle {
        font-size: 1.5em;
        color: $mainColorBlack;
      }

      .paragraph {
        margin-top: 10px;
      }
    }
  }

}

.widget {
  padding: 0 30px 30px;
}

.cart-widget {
  padding: 0 30px 30px;

  .paragraph {
    span {
      display: inline-block;
      padding-bottom: 5px;
    }
    
    hr {
      margin: 5px 0;
    }
  }

  .list-row{
    width: 100%;
    text-align: left;

    &.btn--raised {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
    }
  }
}

@media (min-width: 768px) {
  .cart-widget {
    padding: 0 0 0 15px;
  }
}

.photos {
  margin-bottom: 20px;
}

.price {
  font-size: 22px;
  padding-bottom: 15px;
  display: inline-block;
}



/*================================
*   CART page styles
*================================*/

.cart {
  padding: 30px 0 20px;
  height: auto;
}

///////////////////////////////

.section {
  height: 100%;
}

.height100 {
  height: 100%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border: 1px solid #6F6F6F;
}

///////////////////////////////

// Material Shadows
.shadow-d-1 {
  box-shadow: 0 1px 3px rgba(#000, .12),
  0 1px 2px rgba(#000, .24) ;
}

.shadow-d-2 {
  box-shadow: 0 3px 6px rgba(#000, .16),
  0 3px 6px rgba(#000, .23) ;
}

.shadow-d-3 {
  box-shadow: 0 10px 20px rgba(#000, .19),
  0 6px 6px rgba(#000, .23) ;
}

.shadow-d-4 {
  box-shadow: 0 14px 28px rgba(#000, .25),
  0 10px 10px rgba(#000, .22) ;
}

.shadow-d-5 {
  box-shadow: 0 19px 38px rgba(#000, .30),
  0 15px 12px rgba(#000, .22) ;
}
